streamlit
tensorflow==2.17.1
huggingface_hub

torch
torchvision
numpy
tensorflow==2.17.1
pandas
matplotlib
Pillow
opencv-python-headless
scikit-learn
scipy
grad-cam
huggingface_hub>=0.23.0
groq
python-dotenv
requests
h5py
